<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-content :: head-content"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/index.css" th:href="@{styles/support.css}" />
</head>
<body>
    <!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

    <div id="con" class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>Get help quickly</p><br />
                <h2 class="endLine">Need help? Follow the steps below to find a solution.</h2><br />
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <div id="con1" class="container bg-black w3-round-xlarge w3-card-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h2>Step 1 : Read our FAQs, Use Cases, and Documentation</h2><br />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object faqImg" src="images/faq.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>FAQ</strong></a>
                            <p>Lorem ipsum dolor sit amet, et nec graecis periculis reprehendunt, in natum placerat usu, mel error delenit ex.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <a href=""><img class="media-object use-caseImg" src="images/use-case.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>Use-Case</strong></a>
                            <p>No sea impetus detracto perpetua, sea vide instructior in.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <a href=""><img class="media-object documentationImg" src="images/documentation.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>Documentation</strong></a>
                            <p class="endLine">Ex alii sonet admodum eum, qui oratio tation id, perfecto definiebas vix cu. Suas iusto deterruisset et duo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div><hr />
        <div class="container">		<!-- Step 2 Start -->
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h2>Step 2 : Ask the community through our forum. Sign in required</h2><br />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object forumImg" src="images/forum.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>Cortex community forum</strong></a>
                            <p class="endLine">
                                Ridens fierent detracto eos te, cu mea tation honestatis. Ex est ullum causae, debitis mandamus quo eu. Decore dissentiunt id est.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div><hr />
        <div class="container">		<!-- Step 3 Start -->
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h2>Step 3 : Get direct support and report bugs. Sign in required</h2><br />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object technical-supportImg" src="images/technical-support.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>Technical support</strong></a>
                            <p>Praesent conceptam expetendis nec no, pro ipsum repudiare elaboraret ad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <a href=""><img class="media-object bugImg" src="images/bug.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>Report a bug or request a feature</strong></a>
                            <p>No usu facer atomorum adolescens, pro ut vitae putant, mea ut graeci meliore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <a href=""><img class="media-object account-supportImg" src="images/account-support.png" /></a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading w3-hover-text-white" href="#"><strong>Account support</strong></a>
                            <p class="endLine">Debet docendi has in. In sale ridens volutpat pro. Nam nonumy aliquip ex, usu repudiare intellegat at.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

    <div id="con2" class="container text-center">
        <h1><span class="fa fa-copyright"></span> Cortex</h1><br />
        <h2>Classifying images made easy.</h2><br />
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-warning getStartedBtn">GET STARTED</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-warning demoBtn endLine">DEMO</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <!--/*/ <th:block th:include="fragments/footer-content :: footer-content"></th:block> /*/-->

    <script type="text/javascript" src="scripts/support.js"></script>
</body>
</html>